* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ece5e5;
    font-family: sans-serif;
}
@font-face {
    font-family: Inter;
src: url("/font/Inter-Black.ttf") format("ttf");
src: url("/font/Inter-Bold.ttf") format("ttf");
src: url("/font/Inter-ExtraBold.ttf") format("ttf");
src: url("/font/Inter-ExtraLight.ttf") format("ttf");
src: url("/font/Inter-Light.ttf") format("ttf");
src: url("/font/Inter-Medium.ttf") format("ttf");
src: url("/font/Inter-Regular.ttf") format("ttf");
src: url("/font/Inter-SemiBold.ttf") format("ttf");
src: url("/font/Inter-Thin.ttf") format("ttf");
}
.container {
    width: 1200px;
    margin: 60px auto;
}


.big-container {
    display: flex;
    justify-content: center;


}

.small-container {
    display: block;
    align-items: center;

}
.small-container:hover {
    background-color: #ece5e5;

}

.hero-section {
    background-color: #EDFBFF;

}
.mainheader {
    background-image: url("images/heroimage.jpg");
    width: 100%;
    height: 1030px;
    display: flex;

}
.links {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    font-family: Inter, sans-serif;
    padding: 35px 20px;
    color: white;

}
.links:hover {
    color: black;

}
a.individual {
    color: black;
}
.button-link {
    color: white;
    text-decoration: none;
}
h1 {
    font-size: 32px;
    font-weight: 900;
    font-family: Inter, sans-serif;

}

.link {
    color: white;

}
.maintext::before {
    content: "Delevenlig";
    display: flex;
    margin-top: 80px;
    justify-content: start;
    color: #2f2f2d;
    font-size: 36px;
    line-height: 1;
    background-color: #EDFBFF;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-right: 30px;
    font-family: Inter, sans-serif;
}


.wrapper {
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 50%;
    padding-right: 5%;

}
.logo-nav {
    width: 150px;
    height: auto;
    display: flex;
    justify-content: center;
}
p {
    font-weight: 300;
    font-size: 16px;
    font-family: Inter, sans-serif;
    text-decoration: none;
    color: #4b4747;

}
a {
    text-decoration: none;
    list-style: none;
    font-weight: 300;
    font-size: 16px;
    font-family: Inter, sans-serif;
    color: #131313;
    margin-top: -25px;
    margin-bottom: -25px;
}







