* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #2D7BC6;
}


@font-face {
    font-family: Inter;
    src: url("/font/Inter-Black.ttf") format("ttf");
    src: url("/font/Inter-Bold.ttf") format("ttf");
    src: url("/font/Inter-ExtraBold.ttf") format("ttf");
    src: url("/font/Inter-ExtraLight.ttf") format("ttf");
    src: url("/font/Inter-Light.ttf") format("ttf");
    src: url("/font/Inter-Medium.ttf") format("ttf");
    src: url("/font/Inter-Regular.ttf") format("ttf");
    src: url("/font/Inter-SemiBold.ttf") format("ttf");
    src: url("/font/Inter-Thin.ttf") format("ttf");
}
.h4-header {
    margin-bottom: 5px;
}
.h4-header::after {
    content: ",-";
    display: inline;
    justify-content: start;
    color: #2D7BC6;
    font-size: 16px;
    line-height: 1;
}
.h4-header::before {
    content: "DKK ";
    display: inline;
    justify-content: start;
    color: #2f2f2d;
    font-size: 14px;
    line-height: 1;
}

.container {
    width: 1200px;
    margin: 60px auto;
    background-color: #2D7BC6;
}
.container-form {
    width: 1200px;
    margin: 10px auto;
    background-color: #2D7BC6;
}
.container-form-small {
    width: 320px;
    height: 500px;
    margin: 10px 10px;
    padding: 13px;
    background-color: #2D7BC6;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}
.container-form-big {
    width: 480px;
    height: 500px;
    margin: 10px 10px;
    padding: 13px;
    background-color: #2D7BC6;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}


.container-small-page {
    width: 1200px;
    margin: 60px auto;

}

.big-container {
    display: flex;
    justify-content: center;
}

.small-container {
    display: flex;
    align-items: center;
    color: #3DD9F8;
}

.small-container:hover {
    background-color: #ece5e5;

}

.hero-section {
    background-color: #EDFBFF;

}

.mainheader {
    background-image: url("images/heroimg.jpg");
    width: 100%;
    height: 870px;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;

}

.text-section {
    background-color: #2E7CC7;
}

.article-1 {
    background-image: url("images/cloudimg left.png");
    width: 100%;
    height: 330px;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
}

.aboutus {
    width: 100%;
    height: 350px;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
}

.article-wrapper {
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 50%;
    padding-right: 5%;
}

.article-wrapper-omos {
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 10%;
    padding-right: 10%;
}

.article-3 {
    background-image: url("images/cloudimg left.png");
    width: 100%;
    height: 330px;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
}

.article-hvordan {
    width: 100%;
    height: 330px;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: -150px;
}
.article-wrapper-3 {
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 50%;
    padding-right: 5%;
}

.article-2 {
    background-image: url("images/cloudimg right.png");
    background-position: right;
    width: 100%;
    height: 330px;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
}

.article-wrapper-2 {
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 5%;
    padding-right: 50%;

}


.article-header {
    display: flex;
    margin-top: 60px;
    justify-content: start;
    color: #f1efef;
    font-size: 36px;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 20px;

    font-family: Inter, sans-serif;
}

.article-header-omos {
    display: flex;
    margin-top: 60px;
    justify-content: start;
    color: #000000;
    font-size: 50px;
    line-height: 1;
    font-weight: bold;
    margin-bottom:70px;
    background-color: #f1efef;
    width: 275px;
    height: 60px;
    font-family: Inter, sans-serif;
    padding-left: 10px;
    padding-top: 5px;
}
.article-header-lister {
    margin-left: 20px;
    display: flex;
    margin-top: 60px;
    justify-content: start;
    color: #000000;
    font-size: 50px;
    line-height: 1;
    font-weight: bold;
    margin-bottom:70px;
    background-color: #f1efef;
    width: 325px;
    height: 60px;
    font-family: Inter, sans-serif;
    padding-left: 10px;
    padding-top: 5px;
}
.article-header-onske {
    margin-left: 20px;
    display: flex;
    margin-top: 60px;
    justify-content: start;
    color: #000000;
    font-size: 50px;
    line-height: 1;
    font-weight: bold;
    margin-bottom:70px;
    background-color: #f1efef;
    width: 225px;
    height: 60px;
    font-family: Inter, sans-serif;
    padding-left: 10px;
    padding-top: 5px;
}

.article-text {
    display: flex;
    justify-content: start;
    color: #f1efef;
    font-size: 16px;
    line-height: 1.4;
    font-weight: normal;
    font-family: Inter, sans-serif;
}

.links {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    font-family: Inter, sans-serif;
    padding: 35px 20px;
    color: white;

}

.links:hover {
    color: black;

}

a.individual {
    color: black;
}

.button-link {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 32px;
    font-weight: 900;
    font-family: Inter, sans-serif;

}

h2 {
    font-size: 22px;
    font-weight: 900;
    font-family: Inter, sans-serif;
}

.link {
    color: white;

}

.maintext::before {
    content: "Delevenlig";
    display: flex;
    margin-top: 80px;
    justify-content: start;
    color: #2f2f2d;
    font-size: 36px;
    line-height: 1;
    background-color: #EDFBFF;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-right: 30px;
    font-family: Inter, sans-serif;
}


.wrapper {
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 50%;
    padding-right: 5%;

}
.wrapper-omos {
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 10%;
    padding-right: 10%;

}

.logo-nav {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-weight: 300;
    font-size: 16px;
    font-family: Inter, sans-serif;
    text-decoration: none;
    color: #4b4747;

}

a {
    text-decoration: none;
    list-style: none;
    font-weight: 300;
    font-size: 16px;
    font-family: Inter, sans-serif;
    color: #131313;
    margin-top: -25px;
    margin-bottom: -25px;
}

.navigation {
    padding: 20px;
    margin-right: 100px;
}

footer {
    display: inline-block;
    width: 100%;
}


.footer-content {
    display: flex;
    justify-content: center;
    background-color: #EDFBFF;
    padding-top: 20px;

}

.facebook img {
    width: 50px;
    height: 50px;
}

.facebook {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.instagram {
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram img {
    width: 50px;
    height: 50px;
}

.logo img {
    width: 150px;
    height: 90px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}

.li-nav:hover {
    background-color: #FFD75E;
    border-radius: 2px;
    transition-duration: .3s;
}


.li-nav:active {
    background-color: #de2525;
    text-decoration: none;
    color: white;
}

.socials {
    display: flex;
    flex-direction: row-reverse;
}

.ol-list {
    list-style: none;

}

li.list {
    padding-left: 0;
    padding-right: 0;
    display: block;
    align-items: start;
}

.left-footer-container {
    margin-left: 100px;
    padding: 20px;

}

.middle-footer-container {
    padding: 20px;
}

.footer-header {
    font-family: Inter, sans-serif;
    font-size: 22px;
    font-weight: 800;
    color: #171616;

}

.inline-info {
    background-color: #EDFBFF;

}

.inline-list {

    display: flex;
    justify-content: center;


}

.inline-li {
    display: inline-block;
    padding: 10px;
}

.form-control {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: nowrap;
}

.input-field {
    font-size: 16px;
    line-height: 20px;
    padding: 6px 12px;
    width: 100%;
    min-height: 36px;
    border: unset;
    border-radius: 4px;
    margin-bottom: 15px;
    margin-top: 10px;
    outline-color: rgb(84 105 212 / 0.5);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    background-color: #EDFBFE;

}

.submit-button {
    margin-top: 25px;
    margin-bottom: 10px;
    color: #000000;
    font-size: 22px;
    line-height: 1;
    background-color: #EDFBFE;
    font-weight: bold;
    padding: 16px;
    font-family: Inter, sans-serif;
    border: 0;
    cursor: pointer;
    border-radius: 5px;

}
input::-webkit-file-upload-button{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
    font-size: 16px;
    line-height: 1;
    background-color: #FFD75E;
    font-weight: bold;
    padding: 10px;
    font-family: Inter, sans-serif;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
}
input::-webkit-file-upload-button:hover{
    transition-duration: 0.3s;
    color: #171616;
    background-color: #EDFBFF;
    -ms-transform: scale(1.01);
    transform: scale(1.01);
}
.submit-button-small {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #000000;
    font-size: 24px;
    line-height: 1;
    display: flex;
    justify-content: stretch;
    background-color: #EDFBFE;
    font-weight: bold;
    padding: 10px;
    font-family: Inter, sans-serif;
    border: 0;
    cursor: pointer;
    border-radius: 5px;

}
.submit-button-small:hover {
    transition-duration: 0.3s;
    color: #171616;
    background-color: #EDFBFF;
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.button-small {
    background: #FFD75E;
    border-radius: 2px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #171616;
    padding: 3px 6px;
    text-transform: uppercase;
    cursor: pointer;
}
.button-small-delete {
    margin-top: -10px;
    background: #e12b2b;
    border-radius: 2px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #fff;
    padding: 3px 6px;
    text-transform: uppercase;
    cursor: pointer;
}
.button {
    margin-bottom: 5px;
}

.submit-button-2 {
    margin-top: 25px;
    color: #000000;
    font-size: 22px;
    line-height: 1;
    background-color: #EDFBFE;
    font-weight: bold;
    padding: 16px;
    font-family: Inter, sans-serif;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 43%;
    margin-right: 40%;
}

.submit-button:hover {
    transition-duration: 0.3s;
    color: #171616;
    background-color: #EDFBFF;
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.submit-button-2:hover {
    transition-duration: 0.3s;
    color: #171616;
    background-color: #EDFBFF;
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.select-form {
    font-size: 16px;
    line-height: 20px;
    padding: 6px 12px;
    width: 100%;
    min-height: 36px;
    border: unset;
    border-radius: 4px;
    outline-color: rgb(84 105 212 / 0.5);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

.header {
    font-weight: 600;
    font-style: normal;
    text-transform: capitalize;
    letter-spacing: 0.8px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #EDFBFE;
    margin-bottom: 20px;
}

.row-update {
    color: #2f2f2d;
    font-size: 22px;
    line-height: 1;
    background-color: #ECE5E5;
    font-weight: bold;
    margin-top: 30px;
    margin-right: 30%;
    cursor: pointer;

}

.row-update:hover {
    background-color: #FFD75E;
    -ms-transform: scale(1.2);
    transition-duration: 0.3s;
}

.row-delete {
    background-color: #ECE5E5;
    color: #2f2f2d;
    font-size: 22px;
    line-height: 1;
    font-weight: bold;
    margin-top: 30px;
    margin-right: 30%;
    cursor: pointer;
}

.row-delete:hover {
    background-color: #DD4A48;
    -ms-transform: scale(1.2);
    color: white;
    transition-duration: 0.3s;
}

.link-row {
    color: #181818;
    font-weight: 300;
    font-size: 18px;
    font-family: Inter, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;

}

.container-cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.container-cards .card {
    flex: 1;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}
.container-cards .card:hover{
    transition-duration: 0.5s;
    box-shadow: none;
    background-color: #2D7BC6;
    -ms-transform: scale(1.1);
    transform: scale(1.1);

}

.card-header img {
    height: 300px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.card-header-big img {

    max-height: 300px;
    max-width: 460px;
    min-width: 460px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    min-height: 175px;
    max-width: 300px;
    background-color: #EDFBFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.card-body-big {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    min-height: 175px;
    max-height: 175px;
    max-width: 460px;
    min-width: 460px;
    background-color: #EDFBFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tag {
    background: #cccccc;
    border-radius: 2px;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #fff;
    padding: 3px 6px;
    text-transform: uppercase;
    cursor: pointer;
}
.tag-teal {
    background-color: #2D7BC6;
}


.card-body p {
    font-size: 14px;
    margin: 0 0 auto;
}
.card-body-big p {
    font-size: 14px;
    margin: 0 0 auto;
}


