<footer>
    <div class="footer-content">
        <div class="left-footer-container">
            <h3 class="footer-header">
                Betingelser
            </h3>
            <ol class="ol-list">
                <li class="list">
                    Cookiepolitik
                </li>
                <li class="list">
                    Brugervilkår
                </li>
                <li class="list">
                    Privatlivspolitik
                </li>
            </ol>
            <div class="logo">
                <a href="index.html"><img class="logo-nav" th:src="@{../CSS/images/Logo-250x250.png}" alt="logo"/></a>
            </div>
        </div>

        <nav class="navigation">

            <ol class="ol-list">
                <a href="/">
                    <li class="li-nav list">
                        Hjem
                    </li>
                </a>
                <a href="../hvordan">
                    <li class="li-nav list">
                        Hvordan?
                    </li>
                </a>
                <a href="../omos">
                    <li class="li-nav list">
                        Om os
                    </li>
                </a>
                <a href="../tilmeld">
                    <li class="li-nav list">
                        Tilmeld
                    </li>
                </a>
                <a href="../login">
                    <li class="li-nav list">
                        Log Ind
                    </li>
                </a>
            </ol>
        </nav>
        <div class="socials">

            <div class="facebook">
                <a href="https://www.facebook.com/" target="_blank"><img class="logo-nav"
                                                                         th:src="@{../CSS/images/2021_Facebook_icon.svg.png}"
                                                                         alt="logo"/></a>
            </div>
            <div class="instagram">
                <a href="https://www.instagram.com/"
                   target="_blank"><img class="logo-nav" th:src="@{../CSS/images/Instagram_logo_2016.svg.png}" alt="logo"/></a>
            </div>
        </div>
    </div>
</footer>