<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Hjem</title>
    <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/main.css">
    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/NavBar.css">

</head>
<body>
<main class="hero-section">
    <nav class="navi-section">
        <div class="navbar" id="navbar">
            <div class="logo-left">
                <a href="index.html"><img th:src="@{../CSS/images/Logo-250x250.png}" class="small-nav-logo" alt="logo"
                                          src="../static/CSS/images/Logo-250x250.png"/></a>
            </div>
            <a href="hvordan.html">Hvordan?</a>
            <a href="omos.html">Om os</a>
            <a href="tilmeld.html">Tilmeld</a>
            <a href="login.html" class="login-button">Log ind</a>
        </div>
    </nav>
    <div class="mainheader">
        <div class="wrapper">
            <h1 class="maintext">
                <style>
                    .maintext::after {
                        content: "Opret din ønskeseddel nemt og hurtigt reserver og del med venner og familie";
                        display: flex;
                        color: #F5F3ED;
                        font-size: 52px;
                        line-height: 1;
                        text-transform: uppercase;
                        font-family: Inter, sans-serif;
                    }
                </style>
            </h1>
        </div>
    </div>
</main>
<section class="text-section">
    <div class="article-1">
        <div class="article-wrapper">
            <h2 class="article-header">Gem dinne ønsker med ét klik</h2>
            <p class="article-text">industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                PageMaker including versions of Lorem Ipsu

            </p>
        </div>
    </div>
    <div class="article-2">
        <div class="article-wrapper-2">
            <h2 class="article-header">Del dine ønsker med venner og familie</h2>
            <p class="article-text">industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                PageMaker including versions of Lorem Ipsu
            </p>
        </div>
    </div>
    <div class="article-3">
        <div class="article-wrapper-3">
            <h2 class="article-header">Undgå at få samme gave 2 gange</h2>
            <p class="article-text">industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                PageMaker including versions of Lorem Ipsu

            </p>
        </div>
    </div>
</section>
<footer>
    <div class="footer-content">
        <div class="logo">
            <a href="index.html"><img class="logo-nav" th:src="@{../CSS/images/Logo-250x250.png}" alt="logo"/></a>
        </div>
        <nav class="navigation">
            <ul class="list">
                <a href="index.html">
                    <li class="li-nav">
                        Hjem
                    </li>
                </a>
                <a href="hvordan.html">
                    <li class="li-nav">
                        Hvordan?
                    </li>
                </a>
                <a href="omos.html">
                    <li class="li-nav">
                        Om os
                    </li>
                </a>
                <a href="tilmeld.html">
                    <li class="li-nav">
                        Tilmeld
                    </li>
                </a>
                <a href="login.html">
                    <li class="li-nav">
                        Log Ind
                    </li>
                </a>
            </ul>
        </nav>
        <div class="socials">
            <div class="facebook">
                <a href="https://www.facebook.com/" target="_blank"><img class="logo-nav"
                                                                                 th:src="@{../CSS/images/2021_Facebook_icon.svg.png}"
                                                                                 alt="logo"/></a>
            </div>
            <div class="instagram">
                <a href="https://www.instagram.com/"
                   target="_blank"><img class="logo-nav" th:src="@{../CSS/images/Instagram_logo_2016.svg.png}" alt="logo"/></a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>