<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Log Ind</title>
    <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/main.css">
    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/NavBar.css">
</head>
<body>
<div th:replace="nav.fragment"></div>
<div class="full-page">
<form
        action="/login"
        method="post"
        class="form-control">
    <div class="container-small-page">
        <label class="header">E-Mail</label>
        <input class="input-field" type="text" placeholder="Enter E-Mail" name="eMail" required>

        <label class="header">Password</label>
        <input class="input-field" type="password" placeholder="Enter Password" name="password">

        <button class="submit-button" type="submit">Log ind</button>
    </div>

</form>

</div>
</body>
</html>