<nav class="navi-section">
    <div class="navbar" id="navbar">
        <div class="logo-left">
            <a href="index.html"><img th:src="@{../CSS/images/Logo-250x250.png}" class="small-nav-logo" alt="logo"
                                      src="../static/CSS/images/Logo-250x250.png"/></a>
        </div>
        <a href="hvordan.html">Hvordan?</a>
        <a href="omos.html">Om os</a>
        <a href="tilmeld.html">Tilmeld</a>
        <a href="login.html" class="login-button">Log ind</a>
    </div>
</nav>