<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <title>omos</title>
        <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
        <link rel="stylesheet" href="../static/CSS/main.css">
        <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
        <link rel="stylesheet" href="../static/CSS/NavBar.css">
    </head>
<body>
    <header>
        <div th:replace="nav.fragment"></div>
    </header>
        <div class="text-section">'
            <div class="aboutus">
                <div class="article-wrapper-2">
                    <h2 class="article-header">Gem dine ønsker med ét klik</h2>
                    <p class="article-text">industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                        sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                        PageMaker including versions of Lorem Ipsu

                    </p>
                </div>
            </div>
        </div>
    <div class="text-section">'
        <div class="aboutus">
            <div class="article-wrapper-2">
                <h2 class="article-header">Gem dine ønsker med ét klik</h2>
                <p class="article-text">industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                    1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                    sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                    PageMaker including versions of Lorem Ipsu

                </p>
            </div>
        </div>
    </div>

    <footer>
        <div th:replace="footer.fragment"></div>
    </footer>

</body>
</html>