<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Ønsker</title>
    <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/main.css">
    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/NavBar.css">
</head>
<body class="konto">
<div th:replace="kontonav.fragment"></div>


<div class="container">
    <h1 class="article-header-omos">
        Ønsker
    </h1>
    <div class="container-cards">
        <div th:each="onsker : ${onske}">
            <div class="card">
                <div class="card-header">
                    <a th:href="${onsker.link}" target="_blank"><img
                            src="https://c0.wallpaperflare.com/preview/483/210/436/car-green-4x4-jeep.jpg" alt="rover"/></a>
                </div>
                <div class="card-body">
                    <span class="tag tag-teal" th:text="${onsker.title}">title</span>
                    <h4 class="h4-header" th:text="${onsker.price}">DKK
                    </h4>
                    <p th:text="${onsker.description}">
                    </p>
                    <div class="button">
                        <a th:href="${onsker.link}" target="_blank" class="button-small">SE HER</a>
                    </div>
                </div>

            </div>
        </div>
        <form
                action="/tilføjonske"
                method="post"
                class="form-control">
            <div class="container-form-small">
                <label class="header">Navn</label>
                <input class="input-field" type="text" placeholder="Enter title" name="title" required>

                <label class="header">Beskrivelse</label>
                <input class="input-field" type="text" placeholder="Enter description" name="description" required>

                <label class="header">Pris</label>
                <input class="input-field" type="text" placeholder="Enter price" name="price">

                <label class="header">Link</label>
                <input class="input-field" type="text" placeholder="Enter link" name="link">

                <!-- Link til tilføjelse af billeder fra bruger
              https://www.codejava.net/frameworks/spring-boot/spring-boot-file-upload-tutorial
                <label class="header">Billed</label>
                <input type="file" id="myFile" name="filename">-->

                <button class="submit-button-small" type="submit">Opret ønske</button>
            </div>

        </form>
    </div>
</div>
<footer>
    <div th:replace="footer.fragment"></div>
</footer>
</body>
</html>