<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>ønskeliste</title>
    <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/main.css">
    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/NavBar.css">
</head>
<body class="konto">

<nav class="navi-section">
    <div class="navbar" id="navbar" >
        <div  class="logo-left">
            <a href="/"><img th:src="@{../CSS/images/Logo-250x250.png}" class="small-nav-logo" alt="logo"
                             src="../static/CSS/images/Logo-250x250.png"/></a>
        </div>
        <a href="../hvordan">Hvordan?</a>
        <a href="../omos">Om os</a>
        <a th:each="onskelister :${wishListID} " th:href="@{/onskeliste/{wishListID}(wishListID=${wishListID})}" class="login-button">Ønskelister</a>
    </div>
</nav>

<div class="container">
    <h1 class="article-header-lister">
        Ønskelister
    </h1>
    <div class="card-header-small" th:each=" names : ${wishList.size()}">
        <h2 class="h4-header-before" th:text="${names}">
            Du har
        </h2>
    </div>

    <div class="container-cards">
        <div th:each="onskelister : ${wishList}">

            <div class="card">
                <div class="card-header-big">
                    <a th:href="@{/onsker/{wishListID}(wishListID=${onskelister.id})}" > <img th:src="@{${'../'+onskelister.photosImagePath}}"/></a>
                </div>
                <div class="card-body-big">
                    <span class="tag tag-teal" th:text="${onskelister.title}">title</span>

                    <p th:text="${onskelister.description}">
                    </p>
                    <div class="button">
                        <a th:href="@{/onsker/{wishListID}(wishListID=${onskelister.id})}"  class="button-small">SE ØNSKER</a>
                        <a th:href="@{/sletonskeliste/{id}/{userID}(id=${onskelister.id},userID=${onskelister.userID})}" class="button-small-delete">SLET
                            ØNSKELISTE</a>
                    </div>
                </div>

            </div>
        </div>
        <form   th:object="${wishListID}"
                method="POST"
                action="/tilføjonskeliste" modelAttribute="user"
                enctype="multipart/form-data"
                class="form-control">
            <div class="container-form-big">
                <label class="header">Navn</label>
                <input class="input-field" type="text" placeholder="Enter Title" name="title" required/>

                <label class="header">Beskrivelse</label>
                <input class="input-field" type="text" placeholder="Enter description" name="description" required/>


                <input class="input-field" type="hidden" name="userID" th:value="${userID}" />

                <label class="header">Billed</label> <br>
                <input type="file" name="image" accept="image/png, image/jpeg, image/jpg"/>


                <button class="submit-button-small" type="submit">Opret ønskeliste</button>
            </div>

        </form>
    </div>
</div>
<div class="text-section">'
    <div class="article-1">
        <div class="article-wrapper-2"></div>
        <div class="article-2"></div>
    </div>
</div>
<footer>
    <div th:replace="footer.fragment"></div>
</footer>
</body>
</html>