<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>Ønsker</title>
  <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
  <link rel="stylesheet" href="../static/CSS/main.css">
  <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
  <link rel="stylesheet" href="../static/CSS/NavBar.css">
</head>
<body>
<div th:replace="kontonav.fragment"></div>

<h1 class="header">
  Ønsker
</h1>
<table>
  <thead>
  <tr>
    <th scope="col">
      Navn
    </th>
    <th scope="col">
      Beskrivelse
    </th>
    <th scope="col">
      Pris
    </th>
    <th scope="col">
      Link
    </th>
    <th scope="col">Rediger</th>
    <th scope="col">Slet</th>

  </tr>
  </thead>
  <tbody>
  <tr th:each="onsker: ${onske}">

    <td >
      <a th:href="@{/{id}(id=${onsker.id})}" class="individual"  th:text="${onsker.id}" target="_blank" ></a>
    </td>
    <td >
      <a th:href="@{/{id}(id=${onsker.id})}" class="individual"  th:text="${onsker.title}" target="_blank" ></a>
    </td>
    <td >
      <a th:href="@{/{id}(id=${onsker.id})}" class="individual"  th:text="${onsker.description}" target="_blank" ></a>
    </td>
    <td >
      <a th:href="@{/{id}(id=${onsker.id})}" class="individual"  th:text="${onsker.price}" target="_blank" ></a>
    </td>
    <td >
      <a th:href="@{/{id}(id=${onsker.id})}" class="individual"  th:text="${onsker.link}" target="_blank" ></a>
    </td>

    </td>
    <td class="row-update"><a class="link-row link" th:href="@{/edit/{id}(id=${onsker.id})}">Rediger</a></td>
    <td class="row-delete"><a class="link-row link" th:href="@{/delete/{id}(id=${onsker.id})}">Slet</a></td>

  </tr>
  </tbody>

</table>

<footer>
  <div th:replace="footer.fragment"></div>
</footer>
</body>
</html>