<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Ønsker</title>
    <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/main.css">
    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/NavBar.css">
</head>
<body class="konto">
<nav class="navi-section">
    <div class="navbar" id="navbar" >
        <div  class="logo-left">
            <a href="/"><img th:src="@{../CSS/images/Logo-250x250.png}" class="small-nav-logo" alt="logo"
                             src="../static/CSS/images/Logo-250x250.png"/></a>
        </div>
        <a href="../hvordan">Hvordan?</a>
        <a href="../omos">Om os</a>
        <a th:each="onskelister :${listId} " th:href="@{/onskeliste/{wishListID}(wishListID=${listId.userID})}" class="login-button">Ønskelister</a>
    </div>
</nav>


<div class="container">
    <h1 class="article-header-onske">
        Ønsker
    </h1>

    <div class="container-cards" >
        <div th:each="onskelister : ${wishList}">

            <div class="button">
                <a th:href="${onskelister.userID}" target="_blank" class="button-small">SE HER</a>

            </div>
        </div>
        <div th:each="onsker : ${onske}">
            <div class="card">
                <div class="card-header">
                    <a th:href="${onsker.link}" target="_blank"><img th:src="@{${'../'+onsker.photosImagePath}}" /></a>
                </div>
                <div class="card-body">
                    <span class="tag tag-teal" th:text="${onsker.title}">title</span>
                    <h4 class="h4-header" th:text="${onsker.price}">DKK
                    </h4>

                    <p th:text="${onsker.description}">
                    </p>
                    <div class="button">
                        <a th:href="${onsker.link}" target="_blank" class="button-small">SE ØNSKER</a>
                        <a th:href="@{/sletonske/{id}(id=${onsker.id})}" class="button-small-delete">SLET ØNSKE</a>
                    </div>
                </div>

            </div>
        </div>
        <form
                method="post"
                action="/tilføjonske"
                enctype="multipart/form-data"
                class="form-control">
            <div class="container-form-small">
                <label class="header">Navn</label>
                <input class="input-field" type="text" placeholder="Enter title" name="title" required>

                <label class="header">Beskrivelse</label>
                <input class="input-field" type="text" placeholder="Enter description" name="description" required>

                <label class="header">Pris</label>
                <input class="input-field" type="text" placeholder="Enter price" name="price">

                <label class="header">Link</label>
                <input class="input-field" type="text" placeholder="Enter link" name="link">

                <label class="header">Ønskeliste</label>
                <input class="input-field" type="text" placeholder="Enter wishListID" name="wishListID">

                <label class="header">Billed</label>
                <input type="file" name="image" accept="image/png, image/jpeg, image/jpg" />


                <button class="submit-button-small" type="submit">Opret ønske</button>
            </div>

        </form>
    </div>
</div>
<div class="text-section">'
    <div class="article-1">
        <div class="article-wrapper-2"></div>
        <div class="article-2"></div>
    </div>
</div>
<footer>
    <div th:replace="footer.fragment"></div>
</footer>
</body>
</html>