<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Tilmeld</title>
    <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/main.css">
    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/NavBar.css">
    <meta charset="UTF-8">
</head>
<body>
<div th:replace="nav.fragment"></div>
<form
        action="/tilmeld"
        method="post"
        class="form-control">
    <div class="container">
        <label class="header">E-Mail</label>
        <input class="input-field" type="text" placeholder="Enter E-Mail" name="eMail" required>

        <label class="header">First Name</label>
        <input class="input-field" type="text" placeholder="Enter First Name" name="firstName" required>

        <label class="header">Last Name</label>
        <input class="input-field" type="text" placeholder="Enter Last Name" name="lastName">

        <label class="header">Password</label>
        <input class="input-field" type="password" placeholder="Enter Password" name="password">

        <button class="submit-button" type="submit">Tilmeld</button>
        <a href="../login"><button class="submit-button" type="button">Log Ind</button></a>


    </div>
</form>
<div class="text-section">'
    <div class="article-1">
        <div class="article-wrapper-2"></div>
        <div class="article-2"></div>
    </div>
</div>
    <div th:replace="footer.fragment"></div>
</body>
</html>