<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Tilmeld</title>
    <link th:href="@{/CSS/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/main.css">
    <link th:href="@{/CSS/NavBar.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/CSS/NavBar.css">
</head>
<body>
<div th:replace="nav.fragment"></div>
<form
        action="/tilmeld"
        method="post">
    <div class="container">
        <label>E-Mail</label>
        <input type="text" placeholder="Enter E-Mail" name="eMail" required>

        <label>First Name</label>
        <input type="text" placeholder="Enter First Name" name="firstName" required>

        <label>Last Name</label>
        <input type="text" placeholder="Enter Last Name" name="lastName">

        <label>Password</label>
        <input type="password" placeholder="Enter Password" name="password">

        <button type="submit">Sign Up</button>
    </div>
</form>

</body>
</html>